@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap");

@layer base {
  body {
    @apply font-[Raleway];
  }

  li {
    @apply px-4;
    @apply cursor-pointer;
  }
}

.content-div {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 250px;
}
.content-div:hover {
  background-image: linear-gradient(
    to right,
    rgba(112, 157, 255, 0.8),
    hsla(242, 74%, 61%, 0.8)
  ) !important;
}

.active-link {
  font-weight: 700;
  color: #4392e1;
}

.opacity-3 {
  opacity: 0.03;
}

/* global.css or inside a <style jsx global> block */
.color-empty {
  fill: #1f2937 !important;
}
.color-scale-1 {
  fill: #bbf7d0 !important;
}
.color-scale-2 {
  fill: #86efac !important;
}
.color-scale-3 {
  fill: #4ade80 !important;
}
.color-scale-4 {
  fill: #22c55e !important;
}
.color-scale-5 {
  fill: #16a34a !important;
}

.react-calendar-heatmap .react-calendar-heatmap-weekday-labels {
  transform: translateX(6px); /* Adjust this value for more/less gap */
}
